.icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-image {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
