.icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;

  cursor: pointer;
  width: 32px;
  height: 32px;
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-image {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
