.icon-button {
  background-color: none;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-image {
  width: 60px;
  height: 60px;
}