@import "../../assets/styles/token.css";

.login-page {
  display: flex;
  height: 100vh;
  background-color: #fff6f6;
}

.login-image-container {
  flex: 1;
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff6f6;
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.login-title {
  font-size: var(--font-size-h1);
  color: #c23350;
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
}

.forgot-password-link {
  font-size: var(--font-size-light-text);
  color: #c23350;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-rounded-button-lg);
  background-color: #c23350;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #e15c7c;
}
