.Login-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-brown-100);
}

.Login-container img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.Login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-title-l);
  font-family: var(--font-family-primary);
  margin-bottom: 20px;
  color: var(--color-dark-pink-600);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Responsive  */
@media (max-width: 425px) {
  .Login-container {
    flex-direction: column; 
    justify-content: center;
  }

  .Login-container img {
    display: none;
  }

  .Login-content {
    width: 100%;
    padding: 20px; 
  }

  h1 {
    font-size: var(--font-title-m); 
    text-align: center;
    width: 100%;
  }

  form {
    gap: 15px;
    padding: 0; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: var(--font-title-s);
  }

  form {
    gap: 10px;
  }

  .Login-content {
    padding: 10px;
  }
}
