@import '../../assets/styles/tokens.css';

/* Styles généraux */
.button {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semi-bold);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-8); /* Padding horizontal */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;

}

/* Variantes spécifiques */
.default {
  background-color: var(--color-dark-pink-600);
  color: var(--color-white);
}

.default:hover {
  background-color: var(--color-dark-pink-500);
}

.active {
  background-color: var(--color-light-brown-200);
  color: var(--color-dark-pink-600);
}

.focus {
  background-color: var(--color-dark-pink-600);
  border: 2px solid var(--color-black);
  color: var(--color-white);
}

/* Tailles */
.slim {
  height: var(--spacing-9); /* Hauteur pour les boutons "slim" */
  font-size: var(--font-body-s);
  border-radius: 50px;
}

.large {
  height: var(--spacing-20); /* Hauteur pour les boutons "large" */
  font-size: var(--font-body-l);
}

/* Icônes */
.icon {
  font-size: var(--font-body-m);
  margin-left: var(--spacing-5); /* Espacement entre texte et icône */
}
