@import "../../assets/styles/tokens.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-brown-200);
  border-radius: var(--spacing-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
h1{
  padding-left: 2rem;
  font-size: var(  --font-title-thin);
  color: var(--color-dark-pink-600);
  font-weight: var(  --font-weight-light);
}
.logo {
  width: 98px;
  height: 98px;
  margin-right: var(--spacing-3);
}

.title {
  font-family: var(--font-family-tertiary);
  font-size: var(--font-title-m);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-dark-pink-600);
}

.accountContainer {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.accountIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--color-dark-brown-400);
}