.container {
    max-width: 400px;
    margin: 50px auto;
    padding: var(--spacing-large);
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
  }
  
  h1 {
    margin-bottom: var(--spacing-large);
    color: var(--dark-brown-600);
  }
  