@import "../../assets/styles/token.css";

.change-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff6f6;
}

.change-password-form {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.change-password-title {
  text-align: center;
  font-size: var(--font-size-h1);
  color: #c23350;
  margin-bottom: 20px;
}

.change-password-button {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-rounded-button-lg);
  background-color: #c23350;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}

.change-password-button:hover {
  background-color: #e15c7c;
}
