@import '@/assets/styles/tokens.css';


.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  font-size: var(--font-size-placeholder);
  color: var(--color-dark-brown-400);
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--color-dark-brown-400);
  border-radius: 25px;
  font-size: var(--font-size-placeholder);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input.focused {
  border-color: var(--color-dark-pink-600);
  box-shadow: 0 0 5px rgba(194, 51, 80, 0.5);
}

.input.error {
  border-color: var(--color-wrong-red);
}

.errorText {
  font-size: var(--font-size-small-error);
  color: var(--color-wrong-red);
  margin-top: 4px;
}
