@import "../../assets/styles/tokens.css";

/* Container principal */
.dropdown-container {
  position: relative;
  display: inline-block;
  font-family: var(--font-family-primary);
  margin-left: 160px;
}

/* Bouton */
.dropdown-button {
  background-color: transparent;
  color: var(--color-dark-pink-500);
  padding: var(--spacing-3) var(--spacing-5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  color: var(--color-dark-pink-600);
}

/* Liste déroulante */
.dropdown-list {
  position: absolute;
  top: calc(100% + var(--spacing-3));
  right: 0;
  background-color: var(--color-light-brown-100);
  border: 2px solid var(--color-dark-brown-400);
  border-top:none;
  border-radius: 0 0 25px 25px;
  list-style: none;
  padding: var(--spacing-3);
  margin: 0;
  z-index: 10;
  width: var(--spacing-45-5);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none; 
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Liste visible */
.dropdown-open {
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto; 
}

/* Liste masquée */
.dropdown-closed {
  opacity: 0;
  transform: translateY(-10px); 
  pointer-events: none;
}

/* Éléments de la liste */
.dropdown-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-body-s);
  color: var(--color-dark-brown-600);
  padding: var(--spacing-3) 0px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: var(--spacing-45-5);
}

.dropdown-list-item:hover {
  background-color: var(--color-light-brown-200);
  color: var(--color-dark-pink-600);
}
